/* CSS Document */

/* 滚动条设置 */
BODY,.page-body{
    scrollbar-face-color: #0486b8;
	scrollbar-arrow-color:#0486b8;
	scrollbar-track-color:#f8f8f8;
}

/* 头部设置 */
.header{background:#FFF}
.header .logo{background:url('../../image/SIOV-white-50.png') no-repeat 20px 50% #01ADEF;color:#FFF;}
.header .header-right{border-bottom:2px #76D0F2 solid;}

/* 右侧列表 */
.user-info>ul>li{}
.user-info>ul>li>a{color:#01ADEF;}
.user-info>ul>li:hover{background:#01ADEF}
.user-info>ul>li:hover>a{color:#FFFFFF}
.collspan-menu{color:#01ADEF;}
.collspan-menu:hover{background:#01ADEF;color:#fff}
.user-info .dropdown-menu  li a{color:#01ADEF}

/* 左侧导航 */
.left-nav{}
.left-nav ul li span.icon{color:#01ADEF}

.left-nav .node-selected{background:inherit !important;color: inherit !important;}
.left-nav .node-slider-nav:not(.node-disabled):hover{background:#01ADEF !important;color:#ffffff !important;}
.left-nav .node-slider-nav:not(.node-disabled):hover span.icon{color: #ffffff !important;}
/*tab样式*/
.tab-all{border-bottom: 1px #01ADEF solid;}
.tab-all .tab{background: #ffffff;color: #01ADEF;border:1px #01ADEF solid;border-bottom: 0;}
.tab-all .active{background:#01ADEF ;color: #ffffff;}
.tab-all .tab i:hover{background: #01ADEF;color: #ffffff;}
.tab-all .active i:hover{background: #ffffff;color: #01ADEF;}
.tab-all .tab-last-space{border-bottom:1px #01ADEF solid ;}
.tab-all .tab-space{border-bottom:1px #01ADEF solid ;}

/*控制tab滚动的按钮*/
.button{background: #cccccc;border-bottom: 1px #01ADEF solid;}
.button i{color:#01ADEF ;}
.button i.disabled{color: #999999;cursor: auto;}



.page-title{color:#969696;}
.page-title i{color:#17CCE1;}
.page-title h3 span{border-bottom-color:#17CCE1}



.item-bar{color:#01ADEF;}

/* Miniui重写 */

/* 弹出层标题颜色 */
.mini-window .mini-panel-header{background: #01ADEF}
.mini-window .mini-panel-title{color: #ffffff;}

/* 工具栏 */
.mini-toolbar{background:#F8F8F8 }

/* datagrid 分页图标 */
.mini-pager-next{background: url(blue/next.gif)}
.mini-pager-last{background: url(blue/last.gif)}
.mini-pager-prev{background: url(blue/prev.gif)}
.mini-pager-first{background: url(blue/first.gif)}

.bootstrap-table .table > thead > tr > th{background: #f8f8f8;}
.fixed-table-container tbody .selected td{background: #c2e4ff !important;}
.fixed-table-container tbody tr:hover{background: #d8edfc !important;}

/* datagrid 行颜色 */
.mini-grid-headerCell{}
.mini-grid-row-hover{background: #d8edfc !important;}
.mini-grid-row-selected{background: #c2e4ff !important;}
.mini-grid-cell-selected{background:#92cefc !important;}

/* listbox 颜色 */
.mini-listbox-header{background:#F8F8F8}

.tableMain .tdHead1{background:#d8edfc }

/* 按钮颜色 */
.body .mini-button-plain,body .mini-button-plain:hover{background:#11acc0 !important}
body a.mini-button{background: #01ADEF;}
body a.mini-button:hover{background: #039bd5 !important}
body a.mini-button-normal:hover{background:#15b5c8  !important}
body a.mini-button-info:hover{background:#0993ca  !important}
body a.mini-button-warn:hover{background:#e08607  !important}
body a.mini-button-success:hover{background:#58b058  !important}
body a.mini-button-danger:hover{background:#bd362f  !important}
body a.mini-button-inverse:hover{background:#2c3642  !important}

/* 下拉框，日期输入框等颜色 */
.mini-buttonedit-button,.mini-htmlfile .mini-buttonedit-button{background:#01ADEF;border:0;color: #FFF}
.mini-buttonedit:hover .mini-buttonedit-button,.mini-buttonedit-focus .mini-buttonedit-button,.mini-buttonedit-button:hover{background:#01ADEF;border:0}
.mini-datepicker .mini-buttonedit-icon{background-image: url(blue/date.png);}
.mini-combobox .mini-buttonedit-icon,.mini-treeselect .mini-buttonedit-icon{background-image: url(black/down.png);}
.mini-buttonedit:hover .mini-buttonedit-button,.mini-buttonedit-focus .mini-buttonedit-button,.mini-buttonedit-button:hover{background:#01ADEF;border:0}
.mini-buttonedit-disabled .mini-buttonedit-button,.mini-buttonedit-disabled:hover .mini-buttonedit-button{background:#01ADEF !important;} 

/* 日历选择框 */
.mini-calendar-header,.mini-calendar-footer{background: #01ADEF}
.mini-calendar-title{color: #FFF}
.mini-calendar-yearPrev{background-image: url(blue/date-prev.gif);}
.mini-calendar-monthPrev,.mini-calendar-monthNext{background-image: url(blue/date-months.gif);}
.mini-calendar-yearNext{background-image: url(blue/date-next.gif);}
.mini-calendar-selected{background:#01ADEF !important;color: #FFF !important; }
.mini-calendar-today{border-color: #01ADEF !important}

.mini-calendar-menu-selected{background:#01ADEF !important;color: #FFF !important;}


/* 下拉列表颜色 */
.mini-listbox-item:hover td,.mini-listbox-item-hover td,.mini-listbox-item-selected td{background: #d8edfc}


/* 关怀服务 */
#main_sms .leftTop{background-color:#FBFBFB;}
#main_sms .leftBottom{background-color:#FBFBFB;}
#main_sms .left ul li a{color:#01ADEF }
#main_sms .left ul li:hover{background: #e7e7e7}
#main_sms .center{background-color:#FBFBFB;}
.mini-tab{background: #EBEBEE}
.mini-tab-active{background: #01ADEF}


